@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  @apply text-base text-gray-700;
}

body::before {
  z-index: -10;
  content: '';
  background-size: 400% 400%;
  @apply block fixed w-screen h-screen;
  @apply animate-bg-gradient-shift bg-gradient-to-tr from-red-800 via-red-500 to-yellow-500 filter saturate-[0.7];
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
